.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 45px;
	width: 80%;
	max-width: 1200px;
	margin: 30px auto;
}

.products-element {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 25px 20px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.48) inset;
	-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.48) inset;
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.48) inset;
}

.products-element__name {
	margin-bottom: auto;
	font-weight: bold;
	text-align: center;
}

.products-element__img {
	width: 100%;
	height: 200px;
	margin-top: 20px;
	object-fit: contain;
}

.products-element__price {
	margin-top: 20px;
	color: #808080;
}

.products-element__btn {
	margin-top: 20px;
	padding: 10px 20px;
	border: 1px solid #808080;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	font-family: inherit;
	font-size: inherit;
}

.products-element__btn_active {
	border: 1px solid transparent;
	background-image: linear-gradient(
		to right top,
		#d16ba5,
		#c777b9,
		#ba83ca,
		#aa8fd8,
		#9a9ae1,
		#8aa7ec,
		#79b3f4,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
}
